.idea/
__pycache__/
/static/
/static/*
/Static/
/Static/*

*.exe
*.json
*.sh

testing.py
Backup.zip

/data/clipboard.txt
/cogs/dev.py

/utils/livechat.py
/utils/outh.py
/utils/ServerStatus.py
/utils/ssh.py

/venv/*
/venv/
/template_cogs/
/template_cogs/*
/testing/
/testing/*
