.idea/
.temp/
__pycache__/
/static/
/static/*
/Static/
/Static/*
/assets/
/assets/*

*.exe
*.json
*.sh

testing.py
Backup.zip
discord.log
cipher.py
luck.py

/beta/config.json

/cogs/dev/dev.py
/data/auth.json
/data/clipboard.txt
/data/4b4t/
/data/images/
/data/temp/
/data/userdata/
/data/videos/


/botutils/livechat.py
/botutils/auth.py
/botutils/ServerStatus.py
/botutils/ssh.py
/botutils/window_gen.py

/venv/*
/venv/
/template_cogs/
/template_cogs/*
/testing/
/testing/*
/src/
