.idea/
__pycache__/
/static/
/static/*
/Static/
/Static/*

*.exe
*.json
*.sh

testing.py
Backup.zip
discord.log

/cogs/dev.py
/data/clipboard.txt
/data/4b4t/
/data/images/
/data/temp/
/data/userdata/
/data/videos/


/utils/livechat.py
/utils/auth.py
/utils/ServerStatus.py
/utils/ssh.py
/utils/window_gen.py

/venv/*
/venv/
/template_cogs/
/template_cogs/*
/testing/
/testing/*
/src/
