discord.py[voice]
beautifulsoup4
bs4
colorama
colorlog
colormap
ffmpeg
lavalink
more-itertools
Pillow
prawcore
psutil
Pybooru
termcolor
urllib3
Wand
wikipedia
youtube-dl
tqdm
aiosqlite
aiofiles
aiomysql
pymysql
easydev
profanity-check
praw
litereval
pympler
objgraph
googletrans
discord-sentry-reporting
asyncpraw
dblpy

requests
aiohttp
numpy
websockets
pysftp
