
# Discord

discord.py[voice]
discord-sentry-reporting
dblpy



# Api's

praw
prawcore
asyncpraw
wikipedia
youtube-dl
lavalink
googletrans
Pybooru
gtts



# Processing

ffmpeg
Pillow
Wand
bs4



# Utility

aiofiles
psutil
termcolor
colormap
colorama
colorlog
more-itertools
urllib3



# Networking

requests
aiohttp
websockets
pysftp
aiomysql
motor
pymongo


# Misc

tqdm
easydev
litereval
pympler
objgraph
numpy
imgkit
gTTS
